#container{
    background-color: black;
    height:260px;
    width:500px;
}
#box{
    padding:20px;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap:10px;

}
#box div{
    padding:33px;
}
#item1, #item7{
    background-color: rgb(180, 4, 4);
}
#item2, #item6{
    background-color: rgb(221, 96, 51);
    
}
#item8{
    grid-column-end:span 3;
    background-color: rgb(232, 72, 14);
}
#item5{
    background-color: #256548;
}
#item4{
    background-color: #089a6c;
}
#item3{
    background-color: #0bdea6;
}
#item9{
    background-color: #0bdea6;
    grid-column-end:span 5;
}