body {
  background: #2b2d42;
  padding: 40px;
}

.grid {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.box {
  transition: all 0.4s ease;

}

.box1{ 
  background: rgb(221, 96, 51); 
  /* transition: 1.5s; */
  
}

.box2 { 
  background: #f1c40f; 
  /* transition: 1.5s; */
  
}

.box3 { 
  background: rgb(180, 4, 4); 
  /* transition: 1.5s; */
  
}
  
.box4 { 
  background: #089a6c; 
  /* transition: 1.5s; */
  
}

/* .box:hover {
  /* transform: scale(1.2); */
  /* transform: translate(20px, -20px); 

} */

.box1:hover { 
  background: rgb(221, 96, 51); 
  /* transition: 1.5s; */
  transform: translate(-20px, -20px);
}

.box2:hover { 
  background: #f1c40f;; 
  /* transition: 1.5s; */
  transform: translate(20px, -20px);
}

.box3:hover { 
  background: rgb(180, 4, 4); 
  /* transition: 1.5s; */
  transform: translate(-20px, 20px);
}

.box4:hover { 
  background: #089a6c; 
  /* transition: 1.5s; */
  transform: translate(20px, 20px);
}
