body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1f2b;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;

    width: 600px;
    height: 300px;
    padding: 15px;
    background: #2b2d42;
}

.box {
    border-radius: 6px;
}

/* Grid positioning */

.a {
    background: #ff6b6b;
    grid-column: 1 / 3; /* spans 2 columns */
}

.b {
    background: #ffad66;
    grid-row: 1 / 3; /* spans 2 rows */
    grid-column: 3 / 4;
}

.c {
    background: #00a884;
}

.d {
    background: #1abc9c;
}
